@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');
#contact{
    text-align: left;
    color: white;
    margin-left: 2%;
    margin-top: 8%;
    margin-bottom: -1.8%;
}
.h7{
    color: #515152;
    font-family: 'Yellowtail', cursive;
    font-size: 1rem;
    letter-spacing: 2px;
    margin-left: 1%;
    margin-top: 4%;
}
.c-head{
    font-size: 2rem;
    letter-spacing: -1px;
    margin-left: 3%;
    margin-top: -0.8%;
    font-family: 'Anton', sans-serif;
    color: #08FDD8;
}
.alone{
    font-size: 5rem;
    margin-left: -1%;
    letter-spacing: -1px;
    margin-top: -0.8%;
    font-family: 'Anton', sans-serif;
    color: #08FDD8;
}
.h7close{
    color: #515152;
    font-family: 'Yellowtail', cursive;
    letter-spacing: 2px;
    margin-left: 3%;
    font-size: 0.9rem;
    font-weight: lighter;
    margin-left: 1%;
}
.c-para{
    margin-left: 2%;
    margin-top: -1.5%;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.1rem;
    color: #A5A5A5;
    letter-spacing: 1.5px;
}
.h-mail{
    font-size: 1.1rem;
}
.j-mail{
    font-size: 1.5rem;
    width: 50%;
    cursor: pointer;
    color: white;
    text-decoration: none;
}
.c-mail{
    font-size: 1.5rem;
    width: 50%;
    cursor: pointer;
    color: white;
    text-decoration: none;
}
#m-name{
    margin-left: 11%;
    margin-top: -10.7%;
    font-size: 0.9rem;
    letter-spacing: 0.5px;
    width: 90%;
    text-decoration: underline #040C18;
    /* font-family: 'Roboto Mono', monospace; */
}
.h-social{
    font-size: 1.1rem;
    margin-top: 5.2%;
}
.i-social{
    display: flex;
    margin-top: -5%;
}
.i-first{
    color: white;
    font-size: 2rem;
}
.i-first:hover{
    color: #08FDD8;
}
#s-icon{
    color: white;
    margin-left: 2.7%;
    font-size: 2rem;
}
#s-icon:hover{
    color: #08FDD8;
}
.contact3{
    display: flex;
}
.table{
    margin-left: 3%;
    margin-top: 2%;
    width: 40%;
}
.map{
    margin-left: 5%;
    margin-top: -9%;
    width: 42.8%;
}
.add{
    width: 100%;
    height: 108%;
}
.html-close{
    color: #515152;
    font-family: 'Yellowtail', cursive;
    letter-spacing: 2px;
}
.body-close{
    margin-left: 1%;
    margin-top: -0.5%;
    color: #515152;
    font-family: 'Yellowtail', cursive;
    letter-spacing: 2px;
}
.line{
    margin-top: 2%;
    margin-left: -2.3%;
    margin-right: 6.8%;
    border-top: solid #515152;
    border-left: #040C18;
    border-bottom: #040C18;
    border-right: #040C18;
}
.tag{
    margin-left: -2%;
    font-family: 'Electrolize', sans-serif;
    cursor: default;
    margin-right: 93%;
}

.i-tag{
    margin-left: -2%;
    margin-top: -0.8%;
    margin-right: 80%;
}
.tag-name{
    margin-left: 6.5%;
    margin-top: -6.9%;
    font-family: 'Electrolize', sans-serif;
}
.arrow{
    text-align: right;
    font-size: 2.5rem;
    margin-top: -4.6%;
    margin-right: 7.1%;
    margin-left: 90%;
}
.ar-btn{
    color: white;
}
.ar-btn:hover{
    color: #08FDD8;
}

