.contact{
    text-align: left;
    color: white;
    margin-left: 2%;
    margin-top: 8%;
    margin-bottom: 5%;
}
.h7{
    color: #515152;
    font-family: 'Yellowtail', cursive;
    font-size: 1rem;
    letter-spacing: 2px;
    margin-left: 1%;
    margin-top: 4%;
}
.c-head{
    font-size: 2rem;
    letter-spacing: -1px;
    margin-left: 3%;
    margin-top: -0.8%;
    font-family: 'Anton', sans-serif;
    color: #08FDD8;
}
.alone{
    font-size: 5rem;
    margin-left: -1%;
    letter-spacing: -1px;
    margin-top: -0.8%;
    font-family: 'Anton', sans-serif;
    color: #08FDD8;
}
.h7close{
    color: #515152;
    font-family: 'Yellowtail', cursive;
    letter-spacing: 2px;
    margin-left: 3%;
    font-size: 0.9rem;
    font-weight: lighter;
    margin-left: 1%;
}
.c-para{
    margin-left: 2%;
    margin-top: -1.5%;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.1rem;
    color: #A5A5A5;
    letter-spacing: 1.5px;
}
.table{
    margin-left: 3%;
    margin-top: 5%;
}
.h-mail{
    font-size: 1.1rem;
}
.j-mail{
    font-size: 1.5rem;
    width: 21%;
    cursor: pointer;
}
/* .j-mail:hover{
    color: #08FDD8;
} */
.c-mail{
    font-size: 1.5rem;
    width: 21%;
    cursor: pointer;
}
/* .c-mail:hover{
    color: #08FDD8;
} */
#m-name{
    margin-left: 11%;
    margin-top: -10.7%;
    font-size: 0.9rem;
    letter-spacing: 0.5px;
    width: 90%;
    /* font-family: 'Roboto Mono', monospace; */
}
.h-social{
    font-size: 1.1rem;
    margin-top: 4%;
}
.i-social{
    display: flex;
    margin-left: 3%;
    margin-top: -2%;
}
.insta{
    font-size: 2rem;
    cursor: pointer;
}
.insta:hover{
    color: #08FDD8;
}
.fb{
    font-size: 2rem;
    margin-left: 1.7%;
    cursor: pointer;
}
.fb:hover{
    color: #08FDD8;
}
.ln{
    font-size: 2rem;
    margin-left: 1.7%;
    cursor: pointer;
}
.ln:hover{
    color: #08FDD8;
}
.twt{
    font-size: 2rem;
    margin-left: 1.7%;
    cursor: pointer;
}
.twt:hover{
    color: #08FDD8;
}
.git{
    font-size: 2rem;
    margin-left: 1.7%;
    cursor: pointer;
}
.git:hover{
    color: #08FDD8;
}
.mdm{
    font-size: 2rem;
    margin-left: 1.7%;
    cursor: pointer;
}
.mdm:hover{
    color: #08FDD8;
}
.dbl{
    font-size: 2rem;
    margin-left: 1.7%;
    cursor: pointer;
}
.dbl:hover{
    color: #08FDD8;
}

