#education{
    text-align: left;
    color: white;
    margin-left: 2%;
}
#edu{
    display: flex;
    padding-top: 7%;
}
.edu1{
    width: 60%;
}
.edu2{
    width: 40%;
    margin-left: 5%;
    margin-bottom: -6%;
}
.h5{
    color: #515152;
    font-family: 'Yellowtail', cursive;
    letter-spacing: 2px;
    margin-left: 1.8%;
    margin-top: 4%;
}
.e-head{
    font-size: 5rem;
    letter-spacing: -1px;
    margin-left: 5.1%;
    margin-top: -0.8%;
    font-family: 'Anton', sans-serif;
    color: #08FDD8;
}
.h5close{
    color: #515152;
    font-family: 'Yellowtail', cursive;
    letter-spacing: 2px;
    margin-left: 3%;
    font-size: 0.9rem;
    font-weight: lighter;
    margin-left: 1%;
}
.p2{
    color: #515152;
    font-family: 'Yellowtail', cursive;
    letter-spacing: 2px;
    margin-left: 1.8%;
    margin-top: -3%;
}
.p2close{
    color: #515152;
    font-family: 'Yellowtail', cursive;
    letter-spacing: 2px;
    margin-left: 1.8%;
}
.deg{
    margin-left: 5.2%;
    font-size: 1.6rem;
    font-weight: 500;
    margin-top: -1.6%;
    /* font-family: 'Roboto Mono', monospace; */
}
.clg{
    margin-left: 5.2%;
    font-size: 1.4rem;
    font-weight: 400;
    /* font-family: 'Roboto Mono', monospace; */
}
.year{
    margin-left: 5.2%;
    font-size: 1.3rem;
    margin-bottom: -1.1%;
    /* font-family: 'Roboto Mono', monospace; */
}
.i-edu{
    font-size: 12rem;
    margin-top: 25%;
    margin-bottom: 25%;
    margin-left: 5%;
    color: yellow;
}