.education{
    text-align: left;
    color: white;
    margin-left: 2%;
    margin-top: 8%;
    margin-bottom: 2%;
}
.h5{
    color: #515152;
    font-family: 'Yellowtail', cursive;
    letter-spacing: 2px;
    margin-left: 1%;
    margin-top: 4%;
}
.ehead{
    font-size: 5rem;
    letter-spacing: -1px;
    margin-left: 2.7%;
    margin-top: -0.8%;
    font-family: 'Anton', sans-serif;
    color: #08FDD8;
}
.h5close{
    color: #515152;
    font-family: 'Yellowtail', cursive;
    letter-spacing: 2px;
    margin-left: 3%;
    font-size: 0.9rem;
    font-weight: lighter;
    margin-left: 1%;
}
.p2{
    color: #515152;
    font-family: 'Yellowtail', cursive;
    letter-spacing: 2px;
    margin-left: 1%;
    margin-top: -3%;
}
.p2close{
    color: #515152;
    font-family: 'Yellowtail', cursive;
    letter-spacing: 2px;
    margin-left: 1%;
}
.deg{
    margin-left: 3%;
    font-size: 1.6rem;
    font-weight: 500;
    /* font-family: 'Roboto Mono', monospace; */
}
.clg{
    margin-left: 3%;
    font-size: 1.4rem;
    font-weight: 400;
    /* font-family: 'Roboto Mono', monospace; */
}
.year{
    margin-left: 3%;
    font-size: 1.3rem;
    /* font-family: 'Roboto Mono', monospace; */
}