
.menu-bar{
    color: white;
    text-align: right;
    margin-right: 1%;
    margin-top: 10%;
    cursor: pointer;
}
.home{
    font-size: 1.8rem;
}
.about1{
    font-size: 1.8rem;
    margin-top: -1%;
}
.skill1{
    font-size: 1.8rem;
    margin-top: -1%;
}
.tool1{
    font-size: 1.8rem;
    margin-top: -1%;
}
.work1{
    font-size: 1.8rem;
    margin-top: -1%;
}
.contact1{
    font-size: 1.8rem;
    margin-top: -1%;
}
.home:hover{
    color: #08FDD8;
}
.about1:hover{
    color: #08FDD8
}
.skill1:hover{
    color: #08FDD8
}
.tool1:hover{
    color: #08FDD8
}
.work1:hover{
    color: #08FDD8
}
.contact1:hover{
    color: #08FDD8
}